.navbar__container {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 999;
  padding-top: 30px;
  height: 80px;
  transition: all ease 300ms;
}

.nav__scrolled {
  padding-top: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right top,
    #edf9ff,
    #bbd9ea,
    #8ab8d7,
    #5998c5,
    #1a78b3
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin: 0;
}

.menu__item {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  color: black;
  padding: 1.7rem 2.3rem;
}

.menu__toggle {
  display: none;
}
.link__active {
  padding: 0;
  margin: 0rem 2.3rem;
  display: inline;
  border-bottom: 2px solid #1a78b3;
}

@media only screen and (max-width: 960px) {
  .menu__item {
    padding: 1.7rem 1.5rem;
  }
}

@media only screen and (max-width: 760px) {
  .navbar__container {
    padding-top: 0;
    border-bottom: 1px solid whitesmoke;
  }
  .menu {
    position: absolute;
    background-color: white;
    top: 81px;
    left: -110%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    opacity: 1;
    transition: all ease 250ms;
    z-index: 998;
    height: 90vh;
  }

  .menu-active {
    left: 0;
    transition: all ease 250ms;
  }

  .menu__item {
    width: 100%;
  }

  .link__active,
  .menu__item:hover {
    text-shadow: 0px 0px 2px black;
    color: white;
    background-image: linear-gradient(
      to right,
      #e5e1ff,
      #c9d6fe,
      #a4cefb,
      #74c6f4,
      #2cbfe5
    );
    border: none;
  }

  .link__active {
    transition: all ease 0.2s;
  }

  .menu__toggle {
    display: block;
  }
}
